<div class="stepper-container">
  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Включить линейный режим' : 'Отключить линейный режим'}}
  </button>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Заполните свое имя</ng-template>
        <mat-form-field>
          <input matInput placeholder="Фамилия Имя" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Следующий</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Заполните свой e-mail</ng-template>
        <mat-form-field>
          <input matInput placeholder="E-mail" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Предыдущий</button>
          <button mat-button matStepperNext>Следующий</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Готово</ng-template>
      Теперь вы закончили.
      <div>
        <button mat-button matStepperPrevious>Предыдущий</button>
        <button mat-button (click)="stepper.reset()">Сбросить</button>
        <button mat-button >Зарегестрировать</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>