.grid-container {
  margin: 5px;
}

.dashboard-card {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}


.dashboard-card-content {
  /* text-align: center; */
  background-size: cover;
}
