<div class="antennas-container" *ngIf="status==true; else spinner">
    <!-- <mat-tab-group>
                <mat-tab label="First"> <a routerLink="/dashboard" routerLinkActive="active" class="btn btn-default">Параметры сектора</a></mat-tab>
                <mat-tab label="Second"> <a routerLink="/antennas" routerLinkActive="active" class="btn btn-default">Параметры антенн</a> </mat-tab>
    
    
    </mat-tab-group>
    <h3>{{title}}</h3>

    <div>
        <label>Добавить антенну:</label>
        <input #antennaName />
        <button (click)="add(antennaName.value); antennaName.value='' ">
            +
        </button>
    </div>


        {{getAntenna()}}
    <button (click)="getAntenna()">getAntenna</button>

   <button (click)="showConfig()">showConfig</button>
    <button (click)="showConfigResponse()">showConfigResponse</button>

    <div *ngIf="selectedAntenna">
        <h2>
            {{selectedAntenna.name | uppercase}} is my antenna
        </h2>

    </div>
</div>
    <button (click)="showConfig()">showConfig</button>
    <button (click)="showConfigResponse()">showConfigResponse</button>

     <div *ngIf="selectedAntenna">
        <h2>
            {{selectedAntenna.name | uppercase}} is my antenna
        </h2>
    
    </div>-->



    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Высота антенн" value={{heightM}}>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Азимут сектора" value={{azimuthM}}>
        </mat-form-field>
    </form>


    <table mat-table [dataSource]="sector" class="mat-elevation-z8">

        <ng-container matColumnDef="latitude">
            <th mat-header-cell *matHeaderCellDef> latitude </th>
            <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
        </ng-container>

        <ng-container matColumnDef="longitude">
            <th mat-header-cell *matHeaderCellDef> longitude </th>
            <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
        </ng-container>

        <ng-container matColumnDef="azimuth">
            <th mat-header-cell *matHeaderCellDef> azimuth </th>
            <td mat-cell *matCellDef="let element"> {{element.azimuth}} </td>
        </ng-container>

        <ng-container matColumnDef="downTilt">
            <th mat-header-cell *matHeaderCellDef> downTilt </th>
            <td mat-cell *matCellDef="let element"> {{element.downTilt}} </td>
        </ng-container>

        <ng-container matColumnDef="height">
            <th mat-header-cell *matHeaderCellDef> height </th>
            <td mat-cell *matCellDef="let element"> {{element.height}} </td>
        </ng-container>

        <ng-container matColumnDef="antenna">
            <th mat-header-cell *matHeaderCellDef> antenna </th>
            <td mat-cell *matCellDef="let element" style="width: 300px;">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Antenna
                            </mat-panel-title>
                            <mat-panel-description>
                                Description antenna
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-list role="list">
                            <mat-list-item role="listitem">diagramWidthHalfPowerH={{element.antenna.diagramWidthHalfPowerH}}</mat-list-item>
                            <mat-list-item role="listitem">diagramWidthHalfPowerV={{element.antenna.diagramWidthHalfPowerV}}</mat-list-item>
                            <mat-list-item role="listitem">earthFactor={{element.antenna.earthFactor}}</mat-list-item>
                            <mat-list-item role="listitem">g={{element.antenna.g}}</mat-list-item>
                            <mat-list-item role="listitem">p={{element.antenna.p}}</mat-list-item>
                            <mat-list-item role="listitem">power={{element.antenna.power}}</mat-list-item>
                            <mat-list-item role="listitem">q05H={{element.antenna.q05H}}</mat-list-item>
                            <mat-list-item role="listitem">q05V={{element.antenna.q05V}}</mat-list-item>
                            <mat-list-item role="listitem">tl={{element.antenna.tl}}</mat-list-item>
                            <mat-list-item role="listitem">tractLost={{element.antenna.tractLost}}</mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>

            </td>
        </ng-container>




        <!-- 
        <ng-container matColumnDef="gain">
            <th mat-header-cell *matHeaderCellDef> gain </th>
            <td mat-cell *matCellDef="let element"> {{element.gain}} </td>
        </ng-container>

        <ng-container matColumnDef="tractlost">
            <th mat-header-cell *matHeaderCellDef> tractlost </th>
            <td mat-cell *matCellDef="let element"> {{element.tractlost}} </td>
        </ng-container>

        <ng-container matColumnDef="earthfactor">
            <th mat-header-cell *matHeaderCellDef> earthfactor </th>
            <td mat-cell *matCellDef="let element"> {{element.earthfactor} </td>
        </ng-container>

        <ng-container matColumnDef="diagramwidthwalfpowerH">
            <th mat-header-cell *matHeaderCellDef> diagramwidthwalfpowerH </th>
            <td mat-cell *matCellDef="let element"> {{element.diagramwidthwalfpowerH} </td>
        </ng-container>

        
        <ng-container matColumnDef="diagramWwdthhalfpowerV">
            <th mat-header-cell *matHeaderCellDef> diagramWwdthhalfpowerV </th>
            <td mat-cell *matCellDef="let element"> {{element.diagramWwdthhalfpowerV} </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>

<ng-template #spinner >
    <mat-spinner style=" margin-left: auto;
    margin-right: auto;"></mat-spinner>
</ng-template>

<!--<a *ngFor="let ant of antenna" ></a>-->